* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 60%;
    margin: 0px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.089);
}

.menu-header {
    text-align: left; 
    background-color: #008000;
    padding: 3px;
    border-bottom: 5px solid #aaa;
    text-transform: uppercase;
    color: #fff;
}


.menu-footer {
    background-color: #008000;
    padding: 3px;
    color: #fff;
    text-align: center;
}

.game-title {
    padding: 0px 10px;
}


.body {
    background-color: #fff;
    height: 80vh;
    border-bottom: 5px solid #aaa;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.body input[type="text"] {
    padding: 20px;
    margin-bottom: 20px;
}

.body input[type="submit"] {
    border: 0;
    padding: 20px;
    width: 100%;
    background-color: #008000;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

.body input[type="submit"]:hover {
    opacity: 0.5;
    cursor: pointer;
}



/* Media Queries */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .homeBtn {
        float: none;
    }

    .game-home-btn-cont {
        text-align: center;
        margin: 25px 0px;
    }
    
    .game-title {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {

    .container {
        width: 100%;
    }

}